{% load static %}

<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talriz</title>

    <link rel="stylesheet" href="{% static 'css/filters_page.css' %}">
    <script src="{% static 'js/filters.js' %}" defer> </script>
</head>
<body>
    <nav > <!-- Navbar (IF possible try to figure out how to add the component instead of copying and pasting it over and over)-->
        <a class="nav_item" id="sell">Sell</a>
        <a class="nav_item">Contact</a>
        <a class="nav_item">Help</a>
        <a class="nav_item" id="FAQ">FAQ</a>
        
    </nav>
    <div>
        <h1>Click on which categories you wish to search</h1>
        <div class="finish_sec">
            <button class="btn_reset">Reset</button>
            <button class="btn_finish">Completed</button>
        </div>
<!-- This should be populated by database by selection choices each item should have at least one choice-->
        <div class="Cate_btn">
            <button class="button" id="selectAll">Select All</button>
            {% for category in categories %}
                <button class="button" id="category_{{ category.id }}">{{ category.name }}</button>
            {% endfor %}
        </div>
</body>
</html>