{% load static %}

<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talriz</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/login.js' %}" defer> </script>
</head>
<body>
    <div class="Login_container">
        <div class="Login_box">
            <form action="{% url 'login_logic' %}" method="POST" data-redirect-url="{% url 'marketplace_page' %}" class="form_container">
                {% csrf_token %}
                <h1>WELCOME BACK</h1>
                <h1 class="TITLE_END">LOGIN</h1>
                <!-- Email input -->
                <div class="input_containers_box">
                <div class="input_box">
                    <input type="email" name="email" placeholder="Enter Email Here" required> 
                </div>
                
                <!-- Password input -->
                <div class="input_box" id="password_input">
                    <label>
                        <input type="password" name="password" placeholder="Enter Password Here" required>
                    </label>
                </div>
                <div id="error-box" style="display: none"></div>
                
                <!-- Link to create account -->
                <p class="Create_acc_text">Don't have an account? Create one <a href={% url 'register_page' %} class="create_here"> here </a></p>
            
                <div class="nested_btns">
                    <button type="submit" class="btn_lg">Log in</button> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>