{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talriz</title>

    <link rel="stylesheet" href="{% static 'css/contact_page.css' %}">
    <script src="{% static 'js/contact_page.js' %}" defer> </script>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
  </head>
<body>
    <nav> <!-- Navbar -->
        <input value='justinn' id="seller_user" name="seller_user" hidden>
        <input value='tester' id="logged_user" name="logged_user" hidden>

        <a class="nav_item" id="sell" href="{% url 'marketplace_page' %}">Marketplace</a>
        <a class="nav_item" id="sell" href="{% url 'sell_page' %}">Sell</a>
        <form action="{% url 'logout_logic' %}" method="GET" class="nav_item">
          {% csrf_token %}
          <button type="submit" class="nav_item" id="Sign_Out">Sign out</button>
        </form>
    </nav>

    <div class="Item_container">
      <div class="Item">
          <div class="chat">
            <div class="user-list">
              <h1>Chat List</h1>
              <ul>
                <!--
                Make dynamic and add onclick event to each user name
                -->
                <p class="user-name">Bob</p>
                <p class="user-name">John</p>
              </ul>
            </div>
              <div class="chat_box">
                <div id="chat-messages">
                  {% for message in messages %}
                    {% if message.buyer == 'tester' %}
                    <div style="display: flex; justify-content: flex-end">
                      <div> <sender> {{ message.data }} </sender></div>
                    </div>
                    {% else %}
                    <div> <receiver> {{ message.data }} </receiver></div>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="chat-form">
                  <div class="box-form">
                      <b>Sending</b>
                      <input id="chat-text-box" type="text">
                    <button class="button" id="submit_button" onclick="send_message()">Done</button>
                  </div>
                  <div class="seller_message" >Currently direct messenging : justinn</div>
                </div>
                        <!-- <form action="/media-uploads" method="post" enctype="multipart/form-data">
                    Upload:
                    <input type="file" name="upload">
                    <input type="submit" value="Upload">
                </form> -->
            </div>
        </div>
      </div>
      <!-- Hidden status field -->
      <input type="hidden" name="status" value="active">
      

    </div>
  </body>
</html>
