services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Chestnut9121
      MYSQL_DATABASE: talriz_db
      MYSQL_USER: lejimene
      MYSQL_PASSWORD: Chestnut9121
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    volumes:
      - .:/root
    ports:
      - "8080:8080"
    environment:
      - DJANGO_SETTINGS_MODULE=talriz.settings
    command: python manage.py runserver 0.0.0.0:8080
    # command: python manage.py migrate 
    # command: python manage.py makemigrations 
    depends_on:
      - db

volumes:
  db_data: