@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8ac9f6;
  overflow-x: hidden;
}

body,
.nav_item,
h1,
h2,
p,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
/* Define custom properties for light mode */
:root {
  --background-color-light: #8ac9f6;
  --background-color-dark: #1e1e1e;
  --text-color-light: #000;
  --text-color-dark: #fff;
  --button-background-light: #64b3ff;
  --button-background-dark: #444;
  --button-hover-light: #4287f5;
  --button-hover-dark: #444;
  --card-background-light: #fff;
  --card-background-dark: #333;
}

/* Dark mode styles */
body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

button.dark-mode {
  background-color: var(--button-background-dark);
  color: var(--text-color-dark);
}

button.dark-mode:hover {
  background-color: var(--button-hover-dark);
}

/* General dark mode styles */

/* Apply dark mode to item containers */
body.dark-mode .Item_container {
  background-color: #1e1e1e; /* Dark background for item container */
  color: #222; /* White text color for items */
  margin: 0 5vw;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*body.dark-mode .Item {*/
/*  background-color: #333; !* Dark background for individual items *!*/
/*  border: 1px solid #444; !* Dark border for items *!*/
/*  border-radius: 20px; !* Rounded corners for items *!*/
/*  flex-grow: 0;*/
/*  width: 25vw;*/
/*  min-width: 350px;*/
/*  height: 40vh;*/
/*  min-height: 550px;*/
/*  margin: 2vw;*/
/*  padding: 1vw;*/
/*  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*}*/

/* Ensure item headings and paragraphs have correct colors */
body.dark-mode .Item h1,
body.dark-mode .Item h2,
body.dark-mode .Item p {
  color: #ffff; /* White text for headings and paragraphs */
}

/* Buttons should also change in dark mode */
body.dark-mode .Item .Button_section button {
  background-color: #555; /* Dark background for buttons */
  color: white; /* White text for buttons */
  border: 1px solid #444; /* Dark border */
}

/* Dark mode styling for like and contact buttons */
body.dark-mode .like_button,
body.dark-mode .Filter_button {
  background-color: #555;
  color: white;
  border: 1px solid #444;
}

/* Adjust hover effects in dark mode */
body.dark-mode .Item .Button_section button:hover,
body.dark-mode .like_button:hover,
body.dark-mode .Filter_button:hover {
  background-color: #666; /* Slightly lighter background on hover */
}

body.dark-mode .nav {
  background-color: var(--button-hover-dark);
  border-bottom: 2px solid white;
}

body.dark-mode .Left_Side {
  background-color: var(--button-hover-dark);
}

body.dark-mode .user-list {
  background-color: #222;
}

body.dark-mode .chat {
  background-color: #171717;  
}

body.dark-mode .chat_box {
  background-color: #222;
}

body.dark-mode .user-name {
  color: #ffff;
  border-bottom-color:  #ffff;  
}

body.dark-mode .seller_message {
  color: #ffff;
}

body.dark-mode .Right_Side {
  background-color: var(--card-background-dark);
}

.nav {
  top: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
  padding: 1vh 2vw;
  background-color: var(--button-background-light);
  position: relative;
  border-bottom: 2px solid #4287f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

/* START OF NAVBAR */

.nav_item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem; /* Using rem for responsive font size */
  transition: background-color 0.3s ease-in-out, transfom 0.3s ease-in-out;
  margin: 0; /* Reset any default margins */
  padding: 0.5vh 1vw; /* Optional: Add padding for clickability */
  text-align: center; /* Center-align text */
  border-radius: 10px;
}

#sell,
#Sign_Out {
  cursor: pointer;
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

#sell:hover {
  color: rgb(110, 110, 110);
}

#Sign_Out {
  margin-right: 5vw;
  background-color: #f0e5cc;
}

#Sign_Out:hover {
  background-color: #f3cec3;
}
/* END OF NAVBAR */
.HUD {
  margin-left: 50px;
  margin-right: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.Cate_btn {
  flex-direction: row;
  height: auto;
  width: auto;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
.filter {
  width: 100px;
  height: 50px;
  margin: 5px;
  background-color: #fbf0d8;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 35px;
  border-style: hidden;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.filter:hover {
  background-color: #f2d596;
  transform: scale(1.1);
}

.finish_sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn_finish,
.btn_reset {
  width: 230px;
  height: 80px;
  margin: 20px;
  background-color: #f9efd9;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  background-color: #f9efd9;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 35px;
  border-style: hidden;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
}

.btn_reset {
  background-color: #ffc964;
}
.btn_reset:hover {
  background-color: #ff9564;
  transform: scale(1.1);
}

.btn_finish:hover {
  background-color: #ebf391;
  transform: scale(1.1);
}

#plus {
  width: 12px;
  height: 12px;
}

#Filters {
  background-color: #8af6ac;
}
.Name {
  align-self: center;
  flex-direction: row;
}

.Search_bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.Search_bar input {
  align-items: normal;
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  margin-left: 5%;
  width: 350px;
  border-radius: 35px;
  border-style: hidden;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
}

.Option_section {
  padding-top: 10px;
}

.Item {
  flex-grow: 0;
  width: 75vw;
  min-width: 600px;
  height: 800px;
  margin: 15px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.Item_container {
  margin-left: 5%;
  margin-right: 5%;
  width: calc(90%);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Item_container h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Submit button */
#submit_button {
  background-color: #007bff; /* Blue color */
  color: white;
  height: auto;
  width: 74px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.submit-container {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  margin-top: 20px;
}

.submit-container button {
  width: 200px; /* Optional: Set a fixed width for the button */
  padding: 10px; /* Add padding for a larger clickable area */
}

#submit_button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.chat_box{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  flex: 1; /* Ensures both sides take equal width */
  box-sizing: border-box; /* Ensures padding and border are considered in the width */
  padding: 0px; /* Adjust the padding as needed */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: auto;
}

.user-list {
  width: 20%;
  background-color: aliceblue;
  border-radius: 25px;
  margin-right: 1%;
}

.user-name {
  border: none;
  background: none;
  outline: none;
  border-bottom-style: solid;
  border-bottom-color: #000;
}

button.user-name {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  font-size: xx-large;
}

button.user-name:hover{
  color: rosybrown;
  cursor: pointer;
}

h1.contact {
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.chat {
  height: 80%;
  width: 60%;
  background-color: #adadad;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  flex: auto;
  display: flex;
  flex-direction: row;
}

#chat-messages {
  height: 80%;
  overflow: scroll;
  padding: 10px;
}

.chat-form {
  padding: 10px;
  height: 20%;
}
.box-form {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
  background-color: coral;
}

.Right_Side label,
.Left_Side label {
  display: block;
  font-weight: bold;
  margin: 8px;
}

.chat_box input,
.chat_box textarea{
  flex-grow: 1;
  max-width: 90%;
  padding: 15px;
  margin: 7px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.seller_message {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: auto;
}

sender {
  font-size: 20px;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 3;
  word-wrap: break-word;
  background-color: #2396f5;
  color: #000;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);
}

receiver {
  font-size: 20px;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 3;
  word-wrap: break-word;
  background-color: #dedede;
  color: #000;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);

}