@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body
{
    background-color: #8AC9F6;
}

nav{
    top: 0;
    width: calc(100%);
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    flex-wrap: nowrap;
}

.nav_item
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor:default;
}

.nav_item:hover
{
    transform: scale(1.15);

}


#FAQ
{
    margin-right: 100px;
}

.Categories_sect
{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: calc(100%);
    line-height: normal;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.Cate_btn
{
    flex-direction: row;
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;

}

.button
{
    width: 5dvw;
    min-width: 225px;
    height: 60px;
    min-height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 35px;
    border-style: hidden;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
}

.button:hover
{
    background-color: #fbf0d8;
    transform: scale(1.1);
}

.finish_sec
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_finish , .btn_reset
{
    width: 5dvw;
    min-width: 225px;
    height: 60px;
    min-height: auto;
    margin:20px 20px 20px 20px;
    background-color: #F9EFD9;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: #F9EFD9;
    font-weight: 400;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 35px;
    border-style: hidden;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
}



.btn_reset
{
    background-color: #ffc964;

}
.btn_reset:hover
{
    transform: scale(1.1);
}
.btn_finish
{
    background-color: #e7eac9;
}

.btn_finish:hover
{
    background-color: #ebf391;
    transform: scale(1.1);
}