@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #8ac9f6;
}

nav {
  top: 0;
  width: calc(100%);
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 70px;
  flex-wrap: nowrap;
}

.nav_item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: default;
}

.nav_item:hover {
  transform: scale(1.15);
}

#FAQ {
  margin-right: 100px;
}

.HUD {
  margin-left: 50px;
  margin-right: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  width: calc(100%);
  line-height: normal;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.Cate_btn {
  flex-direction: row;
  height: auto;
  width: auto;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
.filter {
  width: 180px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  background-color: #fbf0d8;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 35px;
  border-style: hidden;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
}

.filter:hover {
  background-color: #f2d596;
  transform: scale(1.1);
}

.finish_sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn_finish,
.btn_reset {
  width: 230px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  background-color: #f9efd9;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  background-color: #f9efd9;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 35px;
  border-style: hidden;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
}

.btn_reset {
  background-color: #ffc964;
}
.btn_reset:hover {
  background-color: #ff9564;
  transform: scale(1.1);
}

.btn_finish:hover {
  background-color: #ebf391;
  transform: scale(1.1);
}

#plus {
  width: 12px;
  height: 12px;
}

#Filters {
  background-color: #8af6ac;
}
.Name {
  align-self: center;
  flex-direction: row;
}

.Item {
  flex-grow: 1;
  width: auto;
  height: auto;
}

.Item_container {
  margin-left: 5%;
  margin-right: 5%;
  width: calc(90%);
  height: auto;
  background-color: white;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Item_container h1 {
  text-align: center;
}
@media (max-width: 1000px) {
  .Item_container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.Close {
  align-self: flex-start;
  padding-left: 20px;
  width: auto;
  height: auto;
}

.Images_section {
  display: flex;
  flex-direction: row;
  background-color: #ff9564;
  width: auto;
  height: 300px;
  border-radius: 20px;
  justify-self: center;
  align-content: center;
}
.Image {
  width: 70%;
  height: auto;
  border-radius: 20px;
  background-color: violet;
}
.Left_Arrow,
.Right_Arrow {
  width: 15%;
  height: 120px;
  background-color: wheat;
  bottom: calc(50%);
  display: flex;
  align-self: center;
}
.Right_Arrow {
  justify-self: flex-end;
}
.Bottom_Section {
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.Right_Side,
.Left_Side {
  width: 50%;
  height: 20px;
}
.Right_Side {
  background-color: yellowgreen;
}

.Left_Side {
  background-color: rgb(19, 83, 223);
}
