* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box; /* Added to prevent overflow issues */
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8ac9f6;
}

nav {
  top: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4vw;
  flex-wrap: nowrap;
  padding: 1vh 2vw;
}

.nav_item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem; /* Using rem for responsive font size */
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.nav_item:hover {
  transform: scale(1.15);
}

#FAQ {
  margin-right: 5vw;
}

.HUD {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem; /* Responsive font size */
}

.Cate_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh 5vw;
}

.filter {
  width: 8vw;
  height: 5vh;
  margin: 5px;
  background-color: #fbf0d8;
  font-family: "Poppins", sans-serif;
  font-size: 1rem; /* Responsive font */
  font-weight: 300;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 35px;
  border: none;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.filter:hover {
  background-color: #f2d596;
  transform: scale(1.1);
}

.Search_bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.Search_bar input {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 30vw;
  border-radius: 35px;
  border: none;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.Option_section {
  padding-top: 10px;
}

.Item {
  flex-grow: 0;
  width: 25vw;
  min-width: 350px;
  height: 40vh;
  min-height: 550px;
  margin: 2vw;
  padding: 1vw;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Item_container {
  margin: 0 5vw;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Images_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh; /* Increased height */
  margin-bottom: 10px; /* Add some space below the image */
}

.Images_section img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.Bottom_Section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Right_Side,
.Left_Side {
  width: 45%;
  font-size: 1rem;
}

.Button_section {
  display: flex;
  justify-content: space-evenly; /* Align buttons to the right */
  gap: 10px; /* Add some space between the buttons */
  margin-top: 10px;
}

.buy_button, #contactButton {
  background-color: #64b3ff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 115px;
  margin: 5px;
  height: 45px;
  padding: 10px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  border-radius: 35px;
  border: none;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#contactButton {
  background-color: #f2d596; /* Color for Contact button */
}

#contactButton:hover {
  background-color: #f2b976;
  transform: scale(1.1);
}

.buy_button:hover {
  background-color: #4287f5; /* Change color on hover */
  transform: scale(1.1);
}

@media (max-width: 768px) {
  /* For tablets */
  .nav_item {
    font-size: 1rem;
  }

  .Item {
    width: 40vw;
    height: 30vh;
  }

  h1 {
    font-size: 1.2rem;
  }

  .filter {
    width: 10vw;
    height: 5vh;
    font-size: 0.9rem;
  }

  .Search_bar input {
    width: 40vw;
  }

  .Bottom_Section {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  /* For mobile */
  .nav_item {
    font-size: 0.9rem;
  }

  .Item {
    width: 80vw;
    height: 30vh;
  }

  h1 {
    font-size: 1rem;
  }

  .filter {
    width: 15vw;
    height: 5vh;
    font-size: 0.8rem;
  }

  .Search_bar input {
    width: 70vw;
  }

  .Bottom_Section {
    font-size: 0.8rem;
  }
}
